@model IEnumerable<Nhom6_QLHoSoTuyenDung.Models.ThongKeTuyenDung>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongUngVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTruot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianThongKe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViTriTuyenDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongUngVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTruot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianThongKe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTriTuyenDung.MaViTri)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
